extends layout/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/main.css")
block content
    if users.length > 0
        h1 Users
        p.text List of users
            each user in users
                div.list
                    ul.list-ul
                        li.list-ol-li #{user.title}
    else 
        h1 No users registered
