<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-ul">
                <li class="main-header-li"><a href="/"></a></li>
                <li class="main-header-li"><a href="/admin/add-user"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Users</h1>
        <p>List of users</p>

        <div class="list">
            <ul class="list-ul">
                <li class="list-ul-li"></li>
            </ul>
        </div>
    </main>
</body>
</html>