<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-ul">
            <li class="main-header-li"><a class="<%= path==='/' ? 'active' : ''%>" href="/">Users</a></li>
            <li class="main-header-li"><a class="<%= path==='/admin/add-user' ? 'active' : ''%>" href="/admin/add-user">Add New User</a></li>
        </ul>
    </nav>
</header>