* {
    padding: 0;
    margin: 0;
}
/*------------------header-----------------------------*/
.main-header {
    width: 100%;
    height: 56px;
    background-color: #B93CB9;
    padding: 0 30px;
}
.main-header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header-ul {
    list-style: none;
    margin: 0;
    display: flex;
}
.main-header-li {
    margin: 0 1.5em;
}
.main-header-li a {
    text-decoration: none;
    font-family:sans-serif;
    font-size: 20px;
    color: white;
}
.main-header-li a:hover,
.main-header-li a:active,
.main-header-li a.active {
    color: #3E1F47;
}
/*--------------------------------main---------------------------------*/
main {
    padding: 20px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    color: #0B525B;
}
p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-------------------------form--------------------------------------*/
.form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;
}
.form-control input {
    border: 1px solid #3E1F47;
    border-radius: 5px;
}
.form-control label {
    color: #0B525B;
}
.form-control {
    margin: 1em 0;
}
/*----------------------------button--------------------------------*/
button {
    font-size: 20px;
    color: white;
    background-color: #0B525B;
    padding: 5px;
    border-radius: 5px;
}
button:hover {
    background-color: #3E1F47;

}
button:active {
    background-color: #B93CB9;
    color: black;
}
/*--------------------------------------------------------------------*/
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px #3E1F47;
}

.card-header,
.card-content {
    padding: 1rem;
}

.card-header h1,
.card-content h1,
.card-content h2,
.card-content p {
    margin: 0;
}

.card-image {
    width: 100%;
}

.card-image img {
    width: 100%;
}

.card-actions {
    padding: 1rem;
    text-align: center;
}

.card-actions button,
.card-actions a {
    margin: 0 0.25rem;
}
