extends layout/main-layout.pug

block style 
    link(rel="stylesheet", href="/css/main.css")

block content 
    main
        form.form(action="/admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
            button(type="submit") Add Product
