<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if mainCSS}}
        <link rel="stylesheet" href="/css/main.css">
    {{/if}}
</head>

<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-ul">
                <li class="main-header-li"><a class="{{#if activeUser }}active {{/if}}" href="/">Users</a></li>
                <li class="main-header-li"><a class="{{#if activeAddUser }}active {{/if}}" href="/admin/add-user">Add New User</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>